body{
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    font-weight: bolder;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(238,174,202,1) 0%, rgb(148,237,243,1) 100%);
}
li,p{
    color: black;
}
